/* for devices with a width of 320 = 767px */
@media only screen 
and (min-width: 320px)
and (max-width: 767px){ 
}

/* for devices with a width of 768 - 1023px */
@media only screen 
and (min-width: 768px)
and (max-width: 1023px){

	.navigation {
		margin-left: 12em;
	}
	.navbar {
		margin-right: 0;
	}
	.bg-light {
    background-color: transparent !important;
	}
}

/* for devices with a width of 1024 - 1040px */
@media only screen 
and (min-width: 1024px)
and (max-width: 1600px){
	.navigation {
        margin-left: 15em;
    }
}